.bg{
   background: url("./../assets/background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
     width: 100vw;      /* full viewport width */
  height: 100vh;     /* full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}




.wrapper {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 10px;
  padding: 30px 40px;
}
.wrapper h1 {
  text-align: center;
  padding: 20px 0;
  font-size: 36px;
}
.wrapper .input-box {
  position: relative;
  margin: 30px 0;
  width: 100%;
  height: 50px;
}
.input-box input {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  font-size: 18px;

  outline: none;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: white;
  padding: 20px 45px 20px 20px;
}
.input-box input::placeholder {
  color: white;
}
.input-box .icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 16px;
}
.wrapper .remember-forgot {
  font-size: 14.5px;
  margin: -15px 0 20px;

  justify-content: space-between;
}
.remember-forgot label input {
  accent-color: white;
  margin-right: 4px;
}
.remember-forgot a {
  color: white;
  text-decoration: none;
  margin-left: 60px;
}
.remember-forgot a:hover {
  text-decoration: underline;
}
.wrapper button {
  width: 100%;
  height: 50px;
  border-radius: 40px;
  outline: none;
  border: none;
  background-color: white;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  color: #333;
  margin-bottom: 25px;
}
.wrapper .register-link {
  text-align: center;
  margin-top: 20px 0 15px;
  font-size: 14.5px;
}
.register-link p a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}
.register-link p a:hover {
  text-decoration: underline;
}
